.theme-color-1 {
    --Primary: #06a788;
    --Sub-primary-1: rgba(215, 241, 236, 1);
    --Sub-primary-2: rgba(6, 167, 136, 0.16);
}
.theme-color-2 {
    --Primary: #f2695c;
    --Sub-primary-1: rgba(253, 231, 229, 1);
    --Sub-primary-2: rgba(242, 105, 92, 0.16);
}
.theme-color-3 {
    --Primary: #1b6c9f;
    --Sub-primary-1: rgb(222 237 246);
    --Sub-primary-2: rgb(52 125 199 / 16%);
}

.theme-color-4 {
    --Primary: #7695ff;
    --Sub-primary-1: rgba(242, 245, 255, 1);
    --Sub-primary-2: rgba(118, 149, 255, 0.16);
    --Sub-primary-3: rgba(118, 149, 255, 0.1);
}
